<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="io/extact/msa/spring/platform/core/log/access/otel-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="OTEL"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>